name: matroska

on: [push, pull_request]

jobs:
  clippy-rustfmt:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install stable
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: clippy, rustfmt

    - name: Run rustfmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: Run clippy
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all --all-features -- -D warnings


  tests:
    strategy:
      matrix:
        toolchain:
         - stable-x86_64-apple-darwin
         - stable-x86_64-unknown-linux-gnu
         - stable-x86_64-pc-windows-msvc
         - stable-i686-pc-windows-msvc
        include:
         - toolchain: stable-x86_64-apple-darwin
           os: macOS-latest
         - toolchain: stable-x86_64-unknown-linux-gnu
           os: ubuntu-latest
         - toolchain: stable-x86_64-pc-windows-msvc
           os: windows-latest
         - toolchain: stable-i686-pc-windows-msvc
           os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Install stable
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.toolchain }}
        override: true

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all-features --verbose

    - name: Run doc
      uses: actions-rs/cargo@v1
      with:
        command: doc
        args: --all-features --verbose
