name: matroska

on: [push, pull_request]

jobs:
  clippy-rustfmt:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        components: clippy, rustfmt

    - name: Run rustfmt
      run:
        cargo fmt --all -- --check --verbose

    - name: Run cargo clippy
      uses: giraffate/clippy-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        clippy_flags: --all-targets -- -D warnings
        reporter: github-pr-review

  tests:
    strategy:
      matrix:
        toolchain:
         - stable-x86_64-apple-darwin
         - stable-x86_64-unknown-linux-gnu
         - stable-x86_64-pc-windows-msvc
         - stable-i686-pc-windows-msvc
        include:
         - toolchain: stable-x86_64-apple-darwin
           os: macOS-latest
         - toolchain: stable-x86_64-unknown-linux-gnu
           os: ubuntu-latest
         - toolchain: stable-x86_64-pc-windows-msvc
           os: windows-latest
         - toolchain: stable-i686-pc-windows-msvc
           os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Install Rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ matrix.toolchain }}

    - name: Run test
      run: cargo test --all-features --verbose

    - name: Run doc
      run: cargo doc --all-features --verbose --no-deps
